---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Ensaios Paul Graham traduzidos para Português : Ensaios do Paul Graham traduzidos para português / Paul Graham&#39;s essays in Portuguese translation">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Ensaios Paul Graham traduzidos para Português</title>
  </head>

  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="forkme_banner" href="https://github.com/everton/ensaios-paul-graham">Ver no GitHub</a>

        <h1 id="project_title">Ensaios do Paul Graham</h1>
        <h2 id="project_tagline">Tradução dos ensaios do Paul Graham em português</h2>
        <i>(Paul Graham&#39;s essays in Portuguese translation)</i>
      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
          <a id="essays" class="anchor" href="#essays" aria-hidden="true"><span class="octicon octicon-link"></span></a>
          Ensaios já traduzidos
        </h3>

        {% assign curry = site.time     | date: '%Y' %}
        {% assign years = (1993..curry) | reverse    %}
        <ol start="{{ curry }}" reversed="reversed">
          {% for year in years %}
          <li>
            <h4>{{ year }}</h4>
            <ul>
              {% assign posts_from_year = site.posts | where:"original_year",year %}
              {% for post in posts_from_year %}
              <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ol>

        <h3>
          <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true">
            <span class="octicon octicon-link"></span>
          </a>
          Autores
        </h3>

        <p>
          Esta é uma iniciativa independente, promovida por <a href="https://github.com/everton" class="user-mention">@everton</a>.
        </p>

        <p>
          Todas as traduções até o momento foram realizadas por <a href="https://github.com/rsnows" class="user-mention">@rsnows</a>.
        </p>



        <h3>
          <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>
          Suporte, sugestões ou contato.
        </h3>

        <p>
          Caso tenha alguma dúvida, sugestão ou deseje contribuir entre em contato criando uma <a href="https://github.com/everton/ensaios-paul-graham/issues">issue no github</a> ou diretamente através do email <a href="mailto:everton.carpes+ensaios-pg@gmail.com">everton.carpes@gmail.com</a>.
        </p>
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Ensaios Paul Graham traduzidos para Português maintained by <a href="https://github.com/everton">everton</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

     try {
       var pageTracker = _gat._getTracker("UA-56707611-1");
       pageTracker._trackPageview();
     } catch(err) {}
    </script>
  </body>
</html>
