---
layout: default
---

<article>
  <header>
    <h2>{{ page.title }}</h2>

    <section class="original">
      <p>
        Ensaio originalmente postado em inglês no
        <a href="http://www.paulgraham.com{{ page.url }}">site do Paul Graham</a><br />
        <i class="published_at">em: {{ page.original_publication }}</i>
      </p>

      <p>
        <i class="author">Traduzido por: {{ page.author }}</i>
      </p>
    </section>
  </header>

  <div class="entry">{{ content }}</div>

  <footer><!-- additional info --></footer>
</article>
